body {
  font-family: Arial, sans-serif;
  margin: 0;
  line-height: 1.6;
  background: #f9f9f9;
  color: #333;
}

header {
  background: #222;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}


form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input, textarea, button {
  margin: 0.5rem 0;
  padding: 0.7rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

button {
  background: #222;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #444;
}


footer {
  text-align: center;
  padding: 1rem;
  background: #222;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
}